<!-- // written by: Avery Turnquest -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/employee.css">
    <title>Employee Shift Schedule</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> <!-- Include moment.js -->
    
</head>

<body>
    <header>
        <nav>
            <img src="../assets/logo.png" alt="Farm to Table Logo" onclick="window.location.href='employeeHomePage.html';">
            <ul class="nav-links">
                <li><a href="employeeHomePage.html">Home</a></li>
                <li><a href="managerHome.html">Functions</a></li>
                <li><a href="orderChecks.html">Orders</a></li>
                <li><a href="viewMenu2.html">Menu</a></li>
                <li><a href="employeeShiftSchedule.html">Schedule</a></li>
                <li><a href="serverinterface.html">Tables</a></li>
            </ul>
        </nav>
    </header>
    
<br>
    <div class="date-selector">
        <button onclick="handlePrevWeek()">Prev</button>
        <span id="weekRangeDisplay"></span>
        <button onclick="handleNextWeek()">Next</button>
    </div>

    <table class="schedule-body">
        <tr>
            <th></th>
            <th><h1>M</h1>
                <li class="schedule-date" id="mondayDisplay">GetDate</li></th>
            <th><h1>T</h1>
                <li class="schedule-date" id="tuesdayDisplay">GetDate</li></th>
            <th><h1>W</h1>
                <li class="schedule-date" id="wednesdayDisplay">GetDate</li></th>
            <th><h1>T</h1>
                <li class="schedule-date" id="thursdayDisplay">GetDate</li></th>
            <th><h1>F</h1>
                <li class="schedule-date" id="fridayDisplay">GetDate</li></th>
            <th><h1>S</h1>
                <li class="schedule-date" id="saturdayDisplay">GetDate</li></th>
            <th><h1>S</h1>
                <li class="schedule-date" id="sundayDisplay"></li></th>
        </tr>
        <tr>
            <th><h1>First Shift</h1>
                <br>8:00 A.M. - 12:00 P.M.
            </th>
            <th id="fShiftMon">Get Employees</th>
            <th id="fShiftTue">Get Employees</th>
            <th id="fShiftWed">Get Employees</th>
            <th id="fShiftThu">Get Employees</th>
            <th id="fShiftFri">Get Employees</th>
            <th id="fShiftSat">Get Employees</th>
            <th id="fShiftSun">Get Employees</th>   
        </tr>
        <tr>
            <th><h1>Lunch</h1>
                <br>12:00 P.M. - 1:00 P.M.
            </th>
            <th id="lunchMon">Get Employees</th>
            <th id="lunchTue">Get Employees</th>
            <th id="lunchWed">Get Employees</th>
            <th id="lunchThu">Get Employees</th>
            <th id="lunchFri">Get Employees</th>
            <th id="lunchSat">Get Employees</th>
            <th id="lunchSun">Get Employees</th>   
        </tr>
        <tr>
            <th><h1>Second Shift</h1>
                <br>1:00 P.M. - 5:00 P.M.
            </th>
            <th id="sShiftMon">Get Employees</th>
            <th id="sShiftTue">Get Employees</th>
            <th id="sShiftWed">Get Employees</th>
            <th id="sShiftThu">Get Employees</th>
            <th id="sShiftFri">Get Employees</th>
            <th id="sShiftSat">Get Employees</th>
            <th id="sShiftSun">Get Employees</th>   
        </tr>       

    </table>

    <script type="module" src="../js/employeeShiftSchedule.js" defer></script>
    
</body>

<li id="test">Test</li> 