<!-- // written by: Avery Turnquest -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/employee.css">
    <title>Employee Shift Schedule</title>
</head>

<body>
    <header>
        <nav>
            <img src="../assets/logo.png" alt="Farm to Table Logo" onclick="window.location.href='employeeHomePage.html';">
            <ul class="nav-links">
                <li><a href="employeeHomePage.html">Home</a></li>
                <li><a href="managerHome.html">Functions</a></li>
                <li><a href="orderChecks.html">Orders</a></li>
                <li><a href="viewMenu2.html">Menu</a></li>
                <li><a href="employeeShiftSchedule.html">Schedule</a></li>
                <li><a href="serverinterface.html">Tables</a></li>
            </ul>
        </nav>
    </header>
    
<br>
    <div class="date-selector">
        <button>Prev</button>
        GetWeek<script>
        const week = this.$moment();
       
        
        </script>
        {{week}}
        <button>Next</button>
    </div>

    <table class="schedule-body">
        <tr>
            <th></th>
            <th><h1>M</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>T</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>W</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>T</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>F</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>S</h1>
                <li class="schedule-date">GetDate</li></th>
            <th><h1>S</h1>
                <li class="schedule-date">GetDate</li></th>
        </tr>
        <tr>
            <th><h1>First Shift</h1>
                <br>8:00 A.M. - 12:00 P.M.
            </th>
            <th><table >
                <tr >
                    <th>GetEmployees</th>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>   
        </tr>
        <tr>
            <th><h1>Lunch</h1>
                <br>12:00 P.M. - 1:00 P.M.
            </th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>              
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>   
        </tr>
        <tr>
            <th><h1>Second Shift</h1>
                <br>1:00 P.M. - 5:00 P.M.
            </th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>
            <th><table>
                <tr>
                    <th>GetEmployees</th>
                </tr>
            </table></th>   
        </tr>       

    </table>


</body>